<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Booking Services </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-button expand="block" fill="outline" color="dark" (click)="page9()">
      How To Book A Service?
    </ion-button>
    <br>

    <ion-button expand="block" fill="outline" color="dark" (click)="page10()">
      How To Cancel A Booking?
    </ion-button>
    <br>

    <ion-button expand="block" fill="outline" color="dark" (click)="page11()">
      How To Reschedule A Booking?
    </ion-button>
    <br>

    <ion-button expand="block" fill="outline" color="dark" (click)="page12()">
      How To Know If Request Is Confirmed
    </ion-button>
    <br>

    <ion-button expand="block" fill="outline" color="dark" (click)="page13()">
      How Can I Contact The Professional?
    </ion-button>
    <br>

    <ion-button expand="block" fill="outline" color="dark" (click)="page13()">
      When Will The Professional Reach For <br> Delivering Service?
    </ion-button>
    <br>

    <ion-button expand="block" fill="outline" color="dark" (click)="page14()">
      How Can I Rate And Review The Service <br> Of A Professional?
    </ion-button>
    <br>
    
    <ion-button expand="block" fill="outline" color="dark" (click)="page15()">
      How Can I Book The Same Professional <br>Again Who delivered My Last Service?
    </ion-button>

</ion-content>
