<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Paying For Services </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-button expand="block" fill="outline" color="dark" (click)="page9()">
        How To Pay For The Services?
      </ion-button>
     
      <ion-button expand="block" fill="outline" color="dark" (click)="page10()">
        How To Use App Credits?
      </ion-button>
     
      <ion-button expand="block" fill="outline" color="dark" (click)="page11()">
        Refund Policy
      </ion-button>

</ion-content>
