
div {

  height: 10em;
  margin-top: 1em;
  width: 24em
     
}

#bigdiv{

  height: 20em;
    margin-top: 1em;
    width: 24em;
}

.newdiv{
  height: 10em;
  width: 24em
}

ion-card
{
  margin-top: 40em;
}
