<ion-header>
  <ion-toolbar color="dark">
    <ion-title>      
    </ion-title>
    <ion-searchbar placeholder="Search For Services "></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-slides pager>
  
  <ion-slide>
    <div style="background: url('assets/car mechanic holds spanners1.jpeg') no-repeat ;  background-position : center ; height: 10em ; width: 24em">
    </div>
  </ion-slide>

  <ion-slide>
    <div style="background: url('assets/cleaning_services1.jpeg') no-repeat ;  background-position : center ;height: 10em ; width: 24em">
    </div>
  </ion-slide>

  <ion-slide>
    <div style="background: url('assets/electronic1.jpeg') no-repeat ;  background-position : center;height: 10em ; width: 24em ">
    </div>
  </ion-slide>

  <ion-slide>
    <div style="background: url('assets/Beauty-Salon-Services1.jpeg') no-repeat ;  background-position : center;height: 10em ; width: 24em ">
    </div>
  </ion-slide>

  <ion-slide>
    <div style="background: url('assets/salon1.jpeg') no-repeat ;  background-position : center ; height: 10em ; width: 24em">
    </div>
  </ion-slide>

</ion-slides>

  <ion-grid>
    <ion-row>
      <ion-col>
        <div class=newdiv>
            <ion-button shape="round" fill="outline" color="dark"  (click)="open-salon-page()"> Salon At Home </ion-button>
          <h4> Wax | Facial | Hair | Packages</h4>
          <img src="assets/Beauty-Salon-Services1.jpeg" style=" height: 13em ; width: 21em">
        </div>
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col>
        <div class=newdiv>
           
            <ion-button shape="round" fill="outline" color="dark" style=" margin-top: 9em; "> Electronic Repiar </ion-button>
            <h4> Servicing | Repair | Installation</h4>
            <img src="assets/electronic1.jpeg" style=" height: 13em ; width: 21em">

        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class=newdiv>

            <ion-button shape="round" fill="outline" color="dark" style=" margin-top: 19em; "> Cleaning Services  </ion-button>
            <h4> Bathroom | Kitchen | Sofa </h4>
            <img src="assets/cleaning_services1.jpeg" style=" height: 13em ; width: 21em">

        </div>
      </ion-col>
    </ion-row>
      
    <ion-row>
      <ion-col>
        <div class=newdiv>
  
            <ion-button shape="round" fill="outline" color="dark" style=" margin-top: 30em; "> Car And Bike Services  </ion-button>
            <h4> CAR | Bike </h4>
            <img src="assets/car mechanic holds spanners1.jpeg" style=" height: 13em ; width: 21em">

        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>

            <ion-text color="dark">
                <h2> Insurance Protection Programe </h2>
              </ion-text>

                <img src="assets/protection.jpeg">
            
                <ion-text color="dark">
                  <h6> Upto Rs 10,000 Insurance Protection with every service Request </h6>
                </ion-text>
            
            
                <ion-item href="https://www.ionicframework.com">
                  <ion-label color="secondary">
                      View article
                  </ion-label>
                </ion-item>

        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

    <ion-text color="dark">
      <h3> Proud Partners with Govt of India </h3>
    </ion-text>

      <ion-grid>

          <ion-row>
            <ion-col>
              <div id=bigdiv>
                  <img src="assets/skillindia1.jpeg">
              </div>
            </ion-col>
          </ion-row>
          
          <ion-row>
            <ion-col>
              <div id=bigdiv>
                <img src="assets/indianflag1.jpeg" style="height:20em ; width: 20em">
            </div>
          </ion-col>
        </ion-row>  

      </ion-grid>  
  
   
