<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      Customer Support
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-button expand="block" fill="outline" color="dark" (click)="page3()"> Manage All your Bookings 
  
</ion-button>

<h3> Popular Solutions </h3>
<ion-button expand="block" fill="outline" color="dark" (click)="page4()"> Cancel & Reschedule 
 
</ion-button>

<ion-button expand="block" fill="outline" color="dark" (click)="page5()">Account Settings
 
</ion-button>

<h3> F.A.Q. </h3>
<ion-button expand="block" fill="outline" color="dark" (click)="page6()">Booking Services 
  
</ion-button>

<ion-button expand="block" fill="outline" color="dark" (click)="page7()"> Paying For Services 

</ion-button>

<ion-button expand="block" fill="outline" color="dark" (click)="page8()">A Guide To APP 
   
</ion-button>

</ion-content>
