#circle{
    
        background-color: black;
        height: 67px;
        width: 80px;
        border-radius: 88px;
        margin-left: 125px;
        padding-left: 27px;
        padding-top: 19px; 
        color:white;
    
}