<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form #form="ngForm" (ngSubmit)="signup(form)">
    <div>
      <ion-item>
        <ion-label>
          <ion-icon size="large" name="contact"></ion-icon>
        </ion-label>
        <ion-input name="Name" placeholder="Name" type="text" ngModel></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>
          <ion-icon size="large" name="mail"></ion-icon>
        </ion-label>
        <ion-input name="Email_Id" placeholder="Email" type="email" ngModel></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>
          <ion-icon size="large" name="phone-portrait"></ion-icon>
        </ion-label>
        <ion-input name="Contact_No" placeholder="Phone" type="number"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>
          <ion-icon size="large" name="key"></ion-icon>
        </ion-label>
        <ion-input name="Password" placeholder="Password" type="Password" ngModel></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>
          <ion-icon size="large" name="key"></ion-icon>
        </ion-label>
        <ion-input name="ConfirmPassword" placeholder="Confirm Password" type="Password"></ion-input>
      </ion-item>

      <br>
      <ion-item>
        <ion-button type="submit" color="dark" shape="round" fill="solid" (click)="profile()"> Create Account
        </ion-button>
      </ion-item>
    </div>
  </form>
  <br>

  <div id="circle">
    OR
  </div>

  <ion-button shape="round" color="dark" onclick="window.location.href = 'https://www.instagram.com/?hl=en';">
    Login With <ion-icon name="logo-facebook"></ion-icon>
  </ion-button>

  <ion-button shape="round" color="dark" onclick="window.location.href = 'https://www.google.co.in/webhp?hl=en&sa=X&ved=0ahUKEwjn2pXs3IrlAhW88HMBHUkFC4cQPAgD';">
    Login With <ion-icon name="logo-google"></ion-icon>
  </ion-button>

</ion-content>


